@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400&display=swap');

/* GERAL */
body, h1, h2, h3, p, ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

#menu{
    /* margin: 35px 35px ; */
    padding: 45px 0;
    background-color: #121212;
    width: 100%;
}

.site-title{
    display: block;
    float: left;
    text-decoration: none;
    color: #FFF;
    margin-left: 10px;
}

.nav-list{
    list-style: none;
    float: right;
}

.nav-list li{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

.nav-list a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.intro{
    padding: 150px;
    display: flex;
}

.intro-container{
    align-items: center;
    max-width: 960px;
	margin: 0 auto;
}

.intro-container::after, .intro-container::before {
	content: '';
	display: table;
	clear: both;
}

.intro-item{
    width: 460px;
    float: left;
    margin: 0 10px;
}

.intro-item h2 {
    padding-bottom: 35px;
}

.intro-item h3 {
    
    padding: 10px;
    background-color: #121212;
    color: #fff;
    justify-content: center;
}

.intro img{   
    padding-left: 100px;
    width: 200px;
    height: 200px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 30px;
    
}

.card-item{
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: (100%/3 + 10px);
    background-color: #fff;
    color: #121212;
    text-align: left;
    font-size: 16px;
    border: 3px solid #121212;
    
    flex-flow: row wrap;
}

.card-item * {
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card-item img{
    margin: 0 auto;
    width: 200px;
    height: 180px;
    max-width: 100%;
    vertical-align: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.card-item figcaption{
    padding: 25px;
    position: relative;
}

.card-item h3{
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
}

.card-item p{
    font-size: 0.8em;
    margin-bottom: 20px;
    line-height: 1.6em;
}

.card-item button{
    border: medium none;
    padding: 10px 20px;
    background-color: #121212;
    font-weight: 800;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.card-item a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.card-item:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.break{
    flex-basis: 100%;
    height: 0;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #121212;
    color: #fff;
    padding: 20px;
}

.footer-item li{
    list-style: none;
    display: inline-block;
    padding-bottom: 20px;   
}

.footer-item  li:not(:first-child):before {
    content: "- ";
}

.footer li:last-child{
    content: '';
}

.footer-item a{
    text-decoration: none;
    color: #fff
}

/* SOBRE */

.sobre img{
    padding:0;
    border-radius: 50%;
}

.autor{
    padding: 10px;
}

.tags {
    display: inline-block;
}

.tags li{
    list-style: none;
    display: inline-block;
    
    padding-bottom: 10px;
}

.fontes{
    padding-left:25px;
}

.fontes a{
    text-decoration: none;
    color: #121212;
    padding-bottom: 10px;
}